<div class="container my-5 contact-section">
    <div class="row py-4">
        <div class="col-lg-4 mb-4 my-lg-auto">
            <img src="assets/images/priyanka_photo.png" alt="MyImage" class="w-100">
        </div>
        <div class="col-lg-8">
            <form>
                <h3 class="text-center">Drop in a message for me and I will get back!</h3>
                <div class="form-group">
                    <label for="exampleFormControlInput1">Email address</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1"
                        placeholder="name@example.com">
                </div>
                <div class="form-group">
                    <label for="exampleFormControlTextarea1">Enter your Message</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>
                <div class="text-center message-button">
                    <a href="javascript:void(0)" class="btn btn-outline-dark btn-md">Message me!</a>
                </div>
            </form>
        </div>
    </div>
</div>