<footer>
    <div class="row">
        <div class="container">
            <div class="row text-light text-center py-4 justify-content-center">
                <div class="col-sm-10 col-md-8 col-lg-6">
                    <h6>Connect with me on Social Media!</h6>
                    <span><a href="https://www.facebook.com/priyanka.bhagat.773" target="_blank"><i
                                class="fab fa-facebook"></i></a></span>
                    <span><a href="https://twitter.com/pr_iy_an_ka" target="_blank"><i
                                class="fab fa-twitter"></i></a></span>
                    <span><a href="https://www.instagram.com/priyanka._bhagat/" target="_blank"><i
                                class="fab fa-instagram"></i></a></span>
                    <span><a href="https://www.linkedin.com/in/priyanka-bhagat03/" target="_blank"><i
                                class="fab fa-linkedin"></i></a></span>
                    <span><a href="https://github.com/psbhagat" target="_blank"><i class="fab fa-github"></i></a></span>
                    <p>Cover image is taken from Unsplash. I do not claim the images as my own.</p>
                </div>
            </div>
        </div>
    </div>
</footer>