<div class="nav-section">
    <div class="top-bar">
        <div class="container">
            <div class="col-12 text-right">
                <p><a href="javascript:void(0)">
                        <span>p.bhagat0312@gmail.com</span>
                    </a></p>
            </div>
        </div>
    </div>

    <nav class="navbar bg-light navbar-light navbar-expand-lg">
        <div class="container">
            <div class="navbar-brand">
                <i class="fas fa-code"></i>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navBarContents">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navBarContents">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show" id="about"><a
                            href="javascript:void(0)" class="nav-link" routerLink="/about"
                            routerLinkActive="active-link">About</a></li>

                    <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show" id="experience"><a
                            href="javascript:void(0)" class="nav-link" routerLink="/experience"
                            routerLinkActive="active-link">Experience</a></li>

                    <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show" id="education"><a
                            href="javascript:void(0)" class="nav-link" routerLink="/education"
                            routerLinkActive="active-link">Education</a></li>

                    <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show" id="skills"><a
                            href="javascript:void(0)" class="nav-link" routerLink="/skills"
                            routerLinkActive="active-link">Skills</a></li>

                    <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show" id="projects"><a
                            href="javascript:void(0)" class="nav-link" routerLink="/projects"
                            routerLinkActive="active-link">Projects</a></li>

                    <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show" id="contact"><a
                            href="javascript:void(0)" class="nav-link" routerLink="/contact"
                            routerLinkActive="active-link">Contact</a></li>
                </ul>
            </div>

        </div>
    </nav>
</div>