<div class="container">
    <div class="row my-5">
        <div class="col-md-4 my-4 project text-center">
            <img src="../../../assets/images/recipies.PNG" class="w-100" alt="Recipies-blog-page">
            <h4 class="my-4 project-title">Mealioo-Recipies <span><a href="https://github.com/psbhagat/mealioo-recipies"
                        target="_blank"><i class="fab fa-github"></i></a></span></h4>
            <p>
                A sample food blog design created using vanilla javascript using MVC architecture.<br>
                <span class="underline">Technologies:</span> JavaScript, HTML, CSS
            </p>

        </div>

        <div class="col-md-4 my-4 project text-center">
            <img src="../../../assets/images/dark_mode.gif" class="w-100" alt="Dark mode gif">
            <h4 class="my-4 project-title">Dark Mode Toggle <span><a href="https://github.com/psbhagat/dark-mode-toggle"
                        target="_blank"><i class="fab fa-github"></i></a></span></h4>
            <p>
                A simple dark mode toggle implemented using CSS variables. This is a proof of concept.<br>
                <span class="underline">Technologies:</span> JavaScript, HTML, CSS
            </p>

        </div>

        <div class="col-md-4 my-4 project text-center">
            <img src="../../../assets/images/koala.PNG" class="w-100" alt="A Koala">
            <h4 class="my-4 project-title">Pure CSS Koala <span><a href="https://github.com/psbhagat/pure-css-koala"
                        target="_blank"><i class="fab fa-github"></i></a></span></h4>
            <p>
                Pure CSS Images are great for practicing CSS Skills, this is koala created using pure css.<br>
                <span class="underline">Technologies:</span> HTML, CSS
            </p>

        </div>

    </div>
</div>