<div class="education-section">
    <div class="container">
        <div class="row my-5">
            <div class="col-md-4 my-4">
                <div class="card">
                    <div class="card-header text-center">
                        Pune Institute Of Computer Technology, Pune
                    </div>
                    <div class="card-body">
                        <h5 class="card-title text-center">Bachelor Of Engineering (IT)</h5>
                        <i class="far fa-circle"></i>
                        <span class="card-text score">Aggregate: 75%</span><br>
                        <i class="far fa-circle"></i>
                        <span class="card-text">PICT IEEE Newsletter Group - Editor, Head</span><br>
                        <i class="far fa-circle"></i>
                        <span class="card-text">Credenz 14,15,16 - Organizer</span><br>
                    </div>
                </div>
            </div>

            <div class="col-md-4 my-4">
                <div class="card">
                    <div class="card-header text-center">
                        Shivaji Science College, Nagpur
                    </div>
                    <div class="card-body">
                        <h5 class="card-title text-center">HSC</h5>
                        <i class="far fa-circle"></i>
                        <span class="card-text score">12<sup>th</sup> Boards: 86%</span><br>
                    </div>
                </div>
            </div>

            <div class="col-md-4 my-4">
                <div class="card">
                    <div class="card-header text-center">
                        Mount Carmel Girls' High School
                    </div>
                    <div class="card-body">
                        <h5 class="card-title text-center">SSC</h5>
                        <i class="far fa-circle"></i>
                        <span class="card-text score">10<sup>th</sup> Board: 96.36%</span><br>
                        <i class="far fa-circle"></i>
                        <span class="card-text">Head Girl (2010-2011)</span><br>
                        <i class="far fa-circle"></i>
                        <span class="card-text">NCC - Sergeant Rank</span><br>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>