<div class="experience-section">
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-center">ACI Worldwide, Pune (December 2019 - Present)</h5>
                    <ul class="list-group list-group-flush text-center">
                        <li class="list-group-item">Software Engineer I</li>
                    </ul>

                    <div class="card-point">
                        <i class="far fa-circle"></i>
                        <span>Part of the Agile team which works on creating UI and web services for reporting in
                            Universal Online Banker(UOB).</span>
                    </div>

                    <div class="card-point">
                        <i class="far fa-circle"></i>
                        <span>Single-handedly undertook the responsibility of creating new UI screens using Angular for
                            all
                            UOB Reports as part of the uplift from Struts to Angular and integrating the screens with
                            the
                            REST APIs.</span>
                    </div>

                    <div class="card-point">
                        <i class="far fa-circle"></i>
                        <span>Created core framework UI components - major one being an account selection widget
                            implementing
                            DB side pagination, which increased the performance up-to 5 times faster for accounts load
                            and
                            selection.</span>
                    </div>

                    <div class="card-point">
                        <i class="far fa-circle"></i>
                        <span>Created a core component to format date based on the locale, which was extensively used by
                            a
                            customer having 'zh-hk' locale, thereby increasing customer satisfaction.</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-center">ACI Worldwide, Pune (July 2017 - November 2019)</h5>
                    <ul class="list-group list-group-flush text-center">
                        <li class="list-group-item">Associate Software Engineer</li>
                    </ul>

                    <div class="card-point">
                        <i class="far fa-circle"></i>
                        <span>Worked on the first generation UOB Hybrid Mobile App built using Ionic Framework, this app
                            proved to be asset to ACI as it helped to onboard new customers which were keen on having a
                            mobile presence. As of Jan 21, we have 4 banks already in production and live with this
                            App.</span>
                    </div>

                    <div class="card-point">
                        <i class="far fa-circle"></i>
                        <span> Developed native features like Biometric Auth, Remote Deposit Capture, Contact US
                            integration with phone and email.
                        </span>
                    </div>


                    <div class="card-point">
                        <i class="far fa-circle"></i>
                        <span>Worked on developing UI screens using Angular and web services for Positive Pay,
                            File Upload
                            Profiles, Report delivery and other functionalities of UOB.</span>
                    </div>

                    <div class="card-point">
                        <i class="far fa-circle"></i>
                        <span>Created screens which are adaptive and responsive to provide a seamless UX on any
                            device to
                            support both the hybrid mobile app and web app.</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>